<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>@MMK_L_A</key>
  <array>
    <string>A</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
  </array>
  <key>@MMK_L_C</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
  </array>
  <key>@MMK_L_D</key>
  <array>
    <string>D</string>
    <string>Eth</string>
  </array>
  <key>@MMK_L_E</key>
  <array>
    <string>E</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>AE</string>
    <string>OE</string>
  </array>
  <key>@MMK_L_I</key>
  <array>
    <string>M</string>
    <string>N</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Ntilde</string>
    <string>I</string>
  </array>
  <key>@MMK_L_O</key>
  <array>
    <string>O</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
  </array>
  <key>@MMK_L_S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
  </array>
  <key>@MMK_L_U</key>
  <array>
    <string>U</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
  </array>
  <key>@MMK_L_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@MMK_L_Z</key>
  <array>
    <string>Z</string>
    <string>Zcaron</string>
  </array>
  <key>@MMK_L_c</key>
  <array>
    <string>ccedilla</string>
    <string>c</string>
  </array>
  <key>@MMK_L_colon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>@MMK_L_e</key>
  <array>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>ae</string>
    <string>oe</string>
    <string>e</string>
  </array>
  <key>@MMK_L_f</key>
  <array>
    <string>f_f</string>
    <string>f</string>
  </array>
  <key>@MMK_L_guilsinglleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>@MMK_L_guilsinglright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>@MMK_L_hyphen</key>
  <array>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>uni00AD</string>
  </array>
  <key>@MMK_L_i</key>
  <array>
    <string>i</string>
    <string>j</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>f_f_i</string>
    <string>ij</string>
    <string>fi</string>
  </array>
  <key>@MMK_L_l</key>
  <array>
    <string>l</string>
    <string>f_f_l</string>
    <string>fl</string>
  </array>
  <key>@MMK_L_n</key>
  <array>
    <string>h</string>
    <string>m</string>
    <string>n</string>
    <string>ntilde</string>
  </array>
  <key>@MMK_L_o</key>
  <array>
    <string>o</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>oslash</string>
  </array>
  <key>@MMK_L_period</key>
  <array>
    <string>period</string>
    <string>comma</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
  </array>
  <key>@MMK_L_quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>@MMK_L_quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>@MMK_L_quotesingle</key>
  <array>
    <string>quotesingle</string>
    <string>quotedbl</string>
  </array>
  <key>@MMK_L_s</key>
  <array>
    <string>s</string>
    <string>scaron</string>
  </array>
  <key>@MMK_L_u</key>
  <array>
    <string>q</string>
    <string>u</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>udieresis</string>
    <string>a</string>
    <string>aring</string>
    <string>g</string>
  </array>
  <key>@MMK_L_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
  <key>@MMK_L_z</key>
  <array>
    <string>z</string>
    <string>zcaron</string>
  </array>
  <key>@MMK_R_A</key>
  <array>
    <string>A</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
  </array>
  <key>@MMK_R_C</key>
  <array>
    <string>C</string>
    <string>Ccedilla</string>
  </array>
  <key>@MMK_R_I</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>E</string>
    <string>H</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>P</string>
    <string>R</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Ntilde</string>
    <string>Thorn</string>
    <string>Eth</string>
    <string>I</string>
  </array>
  <key>@MMK_R_O</key>
  <array>
    <string>G</string>
    <string>O</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>OE</string>
  </array>
  <key>@MMK_R_S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
  </array>
  <key>@MMK_R_U</key>
  <array>
    <string>U</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
  </array>
  <key>@MMK_R_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
  </array>
  <key>@MMK_R_Z</key>
  <array>
    <string>Z</string>
    <string>Zcaron</string>
  </array>
  <key>@MMK_R_a</key>
  <array>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>a</string>
    <string>aring</string>
  </array>
  <key>@MMK_R_colon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>@MMK_R_e</key>
  <array>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>e</string>
  </array>
  <key>@MMK_R_f</key>
  <array>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>fi</string>
    <string>fl</string>
    <string>f</string>
  </array>
  <key>@MMK_R_guilsinglleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>@MMK_R_guilsinglright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>@MMK_R_h</key>
  <array>
    <string>h</string>
    <string>k</string>
    <string>b</string>
    <string>germandbls</string>
    <string>thorn</string>
  </array>
  <key>@MMK_R_hyphen</key>
  <array>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>uni00AD</string>
  </array>
  <key>@MMK_R_i</key>
  <array>
    <string>i</string>
    <string>j</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ij</string>
  </array>
  <key>@MMK_R_n</key>
  <array>
    <string>m</string>
    <string>n</string>
    <string>p</string>
    <string>r</string>
    <string>ntilde</string>
  </array>
  <key>@MMK_R_o</key>
  <array>
    <string>o</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>ccedilla</string>
    <string>oslash</string>
    <string>oe</string>
    <string>c</string>
  </array>
  <key>@MMK_R_period</key>
  <array>
    <string>period</string>
    <string>ellipsis</string>
    <string>comma</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
  </array>
  <key>@MMK_R_quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>@MMK_R_quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>@MMK_R_quotesingle</key>
  <array>
    <string>quotesingle</string>
    <string>quotedbl</string>
  </array>
  <key>@MMK_R_s</key>
  <array>
    <string>s</string>
    <string>scaron</string>
  </array>
  <key>@MMK_R_u</key>
  <array>
    <string>u</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
  </array>
  <key>@MMK_R_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
  </array>
  <key>@MMK_R_z</key>
  <array>
    <string>z</string>
    <string>zcaron</string>
  </array>
</dict>
</plist>
